.section{

        .section__title{

            border-bottom: black 1px solid;
            margin-bottom: 0.5rem;
            margin-top: 0.5rem;
            
            .name{
                font-size: 20px;
                font-weight: bold;
            }      
        }
}


